# SaaS Sales Data Cleaning

#### Step 1: Load the dataset into a Pandas DataFrame
#### Step 2: Data Cleaning
#### Step 3: Data Consistency Checks
#### Step 4: Understand the Data (Descriptive Statistics)

In [1]:
import pandas as pd

In [2]:
# Accessing EnvFile for path

%run EnvFile.ipynb

Stored 'path' (str)

## Step 1: Load the dataset into a Pandas DataFrame

In [3]:
df = pd.read_csv("SaaS-Sales.csv")

In [4]:
df.head()

,Row ID,Order ID,Order Date,Date Key,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit
0,1,EMEA-2022-152156,11/09/22,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,16GRM07R1K,261.9600,2,0.00,41.9136
1,2,EMEA-2022-152156,11/09/22,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,QLIW57KZUV,731.9400,3,0.00,219.5820
2,3,AMER-2022-138688,6/13/2022,20220613,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,JI6BVL70HQ,14.6200,2,0.00,6.8714
3,4,EMEA-2021-108966,10/11/21,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,DE9GJKGD44,957.5775,5,0.45,-383.0310
4,5,EMEA-2021-108966,10/11/21,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,OIF7NY23WD,22.3680,2,0.20,2.5164

## Step 2: Data Cleaning

In [5]:
# Check for missing values and handle them if necessary
print("Number of missing values in each column:")
print(df.isnull().sum())

# If you find any missing values, you can handle them by either removing rows with missing values or imputing them with appropriate values.

Number of missing values in each column:
Row ID          0
Order ID        0
Order Date      0
Date Key        0
Contact Name    0
Country         0
City            0
Region          0
Subregion       0
Customer        0
Customer ID     0
Industry        0
Segment         0
Product         0
License         0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

## Step 3: Data Consistency Checks

In [6]:
# Check for duplicate rows and handle them if necessary

print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [7]:
# Check for mixed-type data in your df_ords dataframe.

for col in df.columns.tolist():
    mixeddata = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df[mixeddata]) > 0:
        print(col)

There is no mixed type data

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Date Key      9994 non-null   int64
 4   Contact Name  9994 non-null   object
 5   Country       9994 non-null   object
 6   City          9994 non-null   object
 7   Region        9994 non-null   object
 8   Subregion     9994 non-null   object
 9   Customer      9994 non-null   object
 10  Customer ID   9994 non-null   int64
 11  Industry      9994 non-null   object
 12  Segment       9994 non-null   object
 13  Product       9994 non-null   object
 14  License       9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   int64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: float64(3), int64(4), object(12)
memory usage: 1.4+ MB

## Step 4: Understand the Data (Descriptive Statistics)

In [9]:
# Display basic information about the dataset
print("Summary statistics:")
print(df.describe())

Summary statistics:
            Row ID      Date Key  Customer ID         Sales     Quantity  \
count  9994.000000  9.994000e+03  9994.000000   9994.000000  9994.000000
mean   4997.500000  2.021803e+07  1049.771963    229.858001     3.789574
std    2885.163629  1.123898e+04    29.719388    623.245101     2.225110
min       1.000000  2.020010e+07  1001.000000      0.444000     1.000000
25%    2499.250000  2.021052e+07  1024.000000     17.280000     2.000000
50%    4997.500000  2.022063e+07  1049.000000     54.490000     3.000000
75%    7495.750000  2.023052e+07  1076.000000    209.940000     5.000000
max    9994.000000  2.023123e+07  1101.000000  22638.480000    14.000000

          Discount       Profit
count  9994.000000  9994.000000
mean      0.156203    28.656896
std       0.206452   234.260108
min       0.000000 -6599.978000
25%       0.000000     1.728750
50%       0.200000     8.666500
75%       0.200000    29.364000
max       0.800000  8399.976000

#### There is nothing off about the data. All the min and max values are as expected.

In [10]:
# Change datatypes to reduce memory usage

df['Row ID'] = df['Row ID'].astype('int16')
df['Customer ID'] = df['Customer ID'].astype('int16')
df['Quantity'] = df['Quantity'].astype('int8')

In [11]:
# Checking for memory usage reduction using info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int16
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Date Key      9994 non-null   int64
 4   Contact Name  9994 non-null   object
 5   Country       9994 non-null   object
 6   City          9994 non-null   object
 7   Region        9994 non-null   object
 8   Subregion     9994 non-null   object
 9   Customer      9994 non-null   object
 10  Customer ID   9994 non-null   int16
 11  Industry      9994 non-null   object
 12  Segment       9994 non-null   object
 13  Product       9994 non-null   object
 14  License       9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   int8
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: float64(3), int16(2), int64(1), int8(1), object(12)
memory usage: 1.3+ MB